@import url(https://fonts.googleapis.com/css?family=Bangers);

.evil__box {
    background: rgb(248, 2, 2);
    background: linear-gradient(90deg, rgb(226, 198, 40) 0%, rgba(230,230,232,0.08566224341299022) 100%);
    border-radius: 1.%;
    font-family: 'Bangers', cursive;
}

.innerbox__evil {
    transform: rotate(-5deg);
    margin:15px;
    padding:0 23px;
  }


  .box{
    margin:25px;
    width:50vw;
    height:50vh;
    background:rgb(248, 242, 242);
    border: solid black;
    border-color: black;
    
  }

.title__evilbar {
    border-width: 3px 3px 7px 7px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-4deg);
    text-align: center;
    font-size:35px;
}

.evils {
    display: flex;
}

.row {
    margin: 1% 1%;
}

.column {
    float: left;
    width: 13vw;
    height: 20vh;
    margin-top: 6%;
    margin-bottom: 2%;
    padding: 7% 1%;
    
  }

  .cardE:hover {
    box-shadow: 0 24px 90px 0 rgba(0,0,0,0.2);
  }

.cardE {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 85%;
    border-radius: 10%;
    border: 2px solid rgb(191, 221, 245);
    background: rgb(248, 121, 2);
    background: linear-gradient(90deg, rgb(217, 223, 225) 0%, rgba(230,230,232,0.08566224341299022) 100%);
}

img {
    border-radius: 45%;
}

.select {
    background-color: #000000;
    border-radius: 90%;
    color: white;
    padding: 5% 5%;
    text-align: center;
    display: inline-block;
    font-size: 60%;
    margin: 1px 1px;
    cursor: pointer;
}
