.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
    border: 2px solid white;
    
  }

  .card:hover {
    box-shadow: 0 16px 50px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 45%;
  }
  
  .heros__container {
    padding: 2% 6%;
    
  }

  .column {
    padding: 1% 36%;
    margin: 5%;
  }

  .row {margin: 0 -5px;}

  