img {
  border-radius: 50%;
}

.evil  {
  background-color: rgb(253, 78, 78);
}

.hero {
  background-color: rgb(209, 209, 252);
}

.box {
  text-align: center;
  border-radius: 80px;
  border: 20px solid green;
}

.sorted {
  text-align: center;
  border: 3px solid rgb(247, 7, 247);
}

.stats {
  text-align: center;
  padding: 20px;
  border-radius: 80px;
  border: 20px solid rgb(247, 122, 5);
  background-color: rgb(233, 241, 161);
}

.champion {
  text-align: center;  
  border: 20px solid rgb(84, 157, 87);
  border-radius: 30px;
  background-color: rgb(248, 196, 240);
}

.chosen {
  text-align: center;  
  border: 20px solid rgb(243, 103, 22);
  border-radius: 30px;
  background-color: rgb(248, 196, 240);
}

.main-container {
  text-align: center;
}

.marquee {
  text-align: center;
  background-color: rgb(224, 219, 226);
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(255, 3, 3);
}


