img {
  border-radius: 50%;
}

.evil  {
  background-color: rgb(253, 78, 78);
}

.hero {
  background-color: rgb(209, 209, 252);
}

.box {
  text-align: center;
  border: 3px solid green;
}

.main-container {
  text-align: center;
}

.marquee {
  text-align: center;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(255, 3, 3);
}

