img {
  border-radius: 50%;
}

.evil  {
  background-color: rgb(253, 78, 78);
}

.hero {
  background-color: rgb(247, 10, 235);
  
}

.title {
  background-color: rgb(233, 243, 187);
  border-radius: 70px;
  border: 5px solid green;
}

.box {
  text-align: center;
  border-radius: 70px;
  border: 20px solid green;
}

.boxChosen {
  text-align: center;
  border-radius: 30px;
  border: 20px solid green;
}

.button {
  background-color: #fd0808;
  border: 10px solid rgb(235, 250, 20);
  color: rgb(235,250,20);
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  font-size: 30px;
  margin: 8px 9px;
  cursor: pointer;
}

.sorted {
  text-align: center;
  border: 3px solid rgb(247, 7, 247);
}

.stats {
  text-align: center;
  padding: 20px;
  border-radius: 80px;
  border: 20px solid rgb(247, 122, 5);
  background-color: rgb(233, 241, 161);
}

.champion {
  text-align: center;  
  border: 20px solid rgb(84, 157, 87);
  border-radius: 30px;
  background-color: rgb(212, 241, 238);
}

.float1 {
  float: left;
  padding: 70px
}

.float2 {
  float: right;
  padding: 70px
}

.chosen {
  text-align: center;  
  border: 20px solid rgb(243, 103, 22);
  border-radius: 30px;
  background-color: rgb(221, 33, 193);
}

.main-container {
  text-align: center;
}

.marquee {
  text-align: center;
  background-color: rgb(224, 219, 226);
}

.float-container {
  border: 3px solid #fff;
  padding: 20%;
}

.float-child {
  width: 50%;
  float: left;
  padding: 2%;
  border: 2px solid rgb(255, 3, 3);
}

.column {
  float: left;
  width: 12%;
  padding: 0 4%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */


/* Style the counter cards */
.card {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20%;
  margin: 30%;
  text-align: center;
  background-color: #94d5e9;
}

.cardE {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20%;
  margin: 30%;
  text-align: center;
  background-color: #f57474;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .columnhr {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    background-color: solid blue
  }
}

